<p> &nbsp; </p>

<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p>
            &copy
            <script>
              document.write(new Date().getUTCFullYear());
            </script>
            Battle Data Lab.
          </p>
          <p>
            We are part of the
            <a href=https://cs.umd.edu/
              >Department of Computer Science</a
            >
            at
            <a href="https://umd.edu/">University of Maryland, College Park</a>.
          </p>
        </div>

        <div class="col-sm-4">
          <p>Funding:<br />
          -
          <a href="https://www.nsf.gov/">NSF</a>
          <br />
          -
          <a href="https://research.adobe.com/">Adobe</a>
          <br />
          -
          <a href="https://www.orau.org/">ORAU</a></p>
        </div>
        <div class="col-sm-4">
          <p>Contact:<br />
          Brendan Iribe Center, <br />
          University of Maryland,<br />
          8125 Paint Branch Drive<br />
          College Park, MD 20742<br />
          United States <br />
		  (<a href="https://maps.google.com/maps?ll=38.989095,-76.936515&z=15&t=m&hl=en&gl=US&mapclient=embed&q=8125%20Paint%20Branch%20Dr%20College%20Park%2C%20MD%2020740">Maps</a>)</p>
		  <!-- ,<a href="http://www.physics.leidenuniv.nl/travel-directions"
			>Directions</a> )-->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
