// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;

  li+li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}

.page-title,
.post-title {
  margin-top: 2rem;
  color: #E21833;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.page-content {
  margin-top: 2rem;
}

.about-items {
  margin-top: 1rem;
  width: 100%;
  display: flex;
}

.about-item-img {
  display: block;
  margin-top: 5rem;
  width: 100%;

  img {
    position: relative;
    margin: auto;
    width: 35rem;
    height: 35rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.about-item-img-sigfried-head-was-too-big {
  height: 200px;
  margin-left: 100px;
  margin-top: 100px;
}

.about-item-des {
  display: block;
  width: 100%;

  .about-name {
    font-size: 24px;
  }
}

.contact-item {
  color: #E21833;
  float: right;
}

.project-items {
  height: auto;
  justify-content: center;
  margin-top: 2rem;
}

.project-item {
  .project-name {
    font-size: 30px;
  }

  .project-item-des {
    width: 100%;
  }

  .project-item-img {
    width: 100%;
  }

  .caption {
    display: block;
    color: #E21833;
    font-size: .5rem;
  }
}



// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about-items {
    display: block;
    justify-content: center;
  }

}

@media screen and (max-width: 620px) {
  .about-items {
    display: block;
    justify-content: center;
  }

  .page-title {
    font-size: 20px;
  }

  .about-item-des .about-name {
    font-size: 15px;
    font-weight: bold;
  }

  .project-item .project-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .about-item-img {
    display: none;
  }

  .about-items {
    display: block;
    justify-content: center;
  }

  .page-title {
    font-size: 20px;
  }

  .about-item-des .about-name {
    font-size: 15px;
    font-weight: bold;
  }

  .project-item .project-name {
    font-size: 18px;
  }
}
